<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/SUKANYA/IdeaProjects/AMIGO-Automated-Testing/Selenium Automated Testing.iml">
        <classes>

            <class name="com.testCase.PortfolioCreateEdit"/>
            <class name = "com.testCase.ProgramCreateEdit"/>
            <class name="com.testCase.ProjectCreateEdit"/>

        </classes>
    </test>
</suite>