<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" >

    <test name="sObject Create and Edit" >
        <classes>
            <class name="com.testCase.createEdit.OrganizationCreateEdit" />
            <class name="com.testCase.createEdit.PortfolioCreateEdit" />
        </classes>
    </test>

</suite>